button {  
  display: block;
  position: relative;
  background: #fff;
  border: none;
  cursor: pointer;
  color: #000000;
  transition: all 0.25s;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  border-radius: 0.4em;
  text-transform: uppercase;
  font-size: 1.05em;
  font-weight: 600;
  letter-spacing: 0.04em;
	mix-blend-mode: screen;
  box-shadow: 0.2em 0.2em 0 0 rgba(214, 40, 40, 1), inset 0.2em 0.2em 0 0 rgba(0, 48, 73, 1);

  &:hover,
  &:focus { 
    color: #fff;
    box-shadow: 
      0 0 0 0 rgba(214, 40, 40, 1),
      inset 6em 3.5em 0 0 rgba(0, 48, 73, 1);
  }
}

html {
	 height: 100%;
	 display: flex;
}
 body {
	 position: relative;
	 margin: auto;
	 font-family: "Exo 2";
	 background: #003049;
	 background: linear-gradient(90deg, rgba(0, 48, 73, 1) 0%, rgba(214, 40, 40, 1) 100%);
	 color: white;
	 text-align: center;
}
h1 {
  margin-top: 60px;
  padding-bottom: 5px;
}
h2, h3{
  font-weight: 500;
}
a {
  color: white; 
  text-decoration: none;
}
 main {
	 display: flex;
	 flex-direction: column;
}
 img {
	 border-radius: 50%;
	 margin: 0.5em;
}

footer {
   padding: 2rem;
}